--
-- PostgreSQL database dump
--

\restrict rwjnK95efwx4shy2M4eBxcbWlmdr67yjzGEVlXYvAfhFQhamICXuF8TlDAXoy2p

-- Dumped from database version 16.15
-- Dumped by pg_dump version 16.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.sph_kegiatan DROP CONSTRAINT IF EXISTS sph_kegiatan_penawaran_id_fkey;
ALTER TABLE IF EXISTS ONLY public.receipts DROP CONSTRAINT IF EXISTS receipts_payment_id_fkey;
ALTER TABLE IF EXISTS ONLY public.penawaran_details DROP CONSTRAINT IF EXISTS penawaran_details_sph_kegiatan_id_fkey;
ALTER TABLE IF EXISTS ONLY public.penawaran_details DROP CONSTRAINT IF EXISTS penawaran_details_penawaran_id_fkey;
ALTER TABLE IF EXISTS ONLY public.penawaran_details DROP CONSTRAINT IF EXISTS penawaran_details_kegiatan_item_id_fkey;
ALTER TABLE IF EXISTS ONLY public.penawaran_details DROP CONSTRAINT IF EXISTS penawaran_details_kegiatan_id_fkey;
ALTER TABLE IF EXISTS ONLY public.penawaran_details DROP CONSTRAINT IF EXISTS penawaran_details_item_catalog_id_fkey;
ALTER TABLE IF EXISTS ONLY public.penawaran DROP CONSTRAINT IF EXISTS penawaran_customer_id_fkey;
ALTER TABLE IF EXISTS ONLY public.payments DROP CONSTRAINT IF EXISTS payments_customer_id_fkey;
ALTER TABLE IF EXISTS ONLY public.payment_allocations DROP CONSTRAINT IF EXISTS payment_allocations_payment_id_fkey;
ALTER TABLE IF EXISTS ONLY public.payment_allocations DROP CONSTRAINT IF EXISTS payment_allocations_invoice_id_fkey;
ALTER TABLE IF EXISTS ONLY public.kegiatan_items DROP CONSTRAINT IF EXISTS kegiatan_items_kegiatan_id_fkey;
ALTER TABLE IF EXISTS ONLY public.kegiatan_items DROP CONSTRAINT IF EXISTS kegiatan_items_item_catalog_id_fkey;
ALTER TABLE IF EXISTS ONLY public.kegiatan DROP CONSTRAINT IF EXISTS kegiatan_customer_id_fkey;
ALTER TABLE IF EXISTS ONLY public.invoices DROP CONSTRAINT IF EXISTS invoices_source_penawaran_id_fkey;
ALTER TABLE IF EXISTS ONLY public.invoices DROP CONSTRAINT IF EXISTS invoices_customer_id_fkey;
ALTER TABLE IF EXISTS ONLY public.invoice_details DROP CONSTRAINT IF EXISTS invoice_details_sph_kegiatan_id_fkey;
ALTER TABLE IF EXISTS ONLY public.invoice_details DROP CONSTRAINT IF EXISTS invoice_details_source_penawaran_detail_id_fkey;
ALTER TABLE IF EXISTS ONLY public.invoice_details DROP CONSTRAINT IF EXISTS invoice_details_source_kegiatan_item_id_fkey;
ALTER TABLE IF EXISTS ONLY public.invoice_details DROP CONSTRAINT IF EXISTS invoice_details_source_kegiatan_id_fkey;
ALTER TABLE IF EXISTS ONLY public.invoice_details DROP CONSTRAINT IF EXISTS invoice_details_invoice_id_fkey;
ALTER TABLE IF EXISTS ONLY public.deposit_transactions DROP CONSTRAINT IF EXISTS deposit_transactions_customer_id_fkey;
ALTER TABLE IF EXISTS ONLY public.audit_logs DROP CONSTRAINT IF EXISTS audit_logs_actor_user_id_fkey;
DROP INDEX IF EXISTS public.idx_users_username;
DROP INDEX IF EXISTS public.idx_sph_kegiatan_sort_order;
DROP INDEX IF EXISTS public.idx_sph_kegiatan_penawaran_id;
DROP INDEX IF EXISTS public.idx_receipts_status;
DROP INDEX IF EXISTS public.idx_receipts_payment_id;
DROP INDEX IF EXISTS public.idx_receipts_number;
DROP INDEX IF EXISTS public.idx_receipts_date;
DROP INDEX IF EXISTS public.idx_receipts_created_at;
DROP INDEX IF EXISTS public.idx_penawaran_status;
DROP INDEX IF EXISTS public.idx_penawaran_rekap_composite;
DROP INDEX IF EXISTS public.idx_penawaran_number;
DROP INDEX IF EXISTS public.idx_penawaran_details_sph_kegiatan_id;
DROP INDEX IF EXISTS public.idx_penawaran_details_sort_order;
DROP INDEX IF EXISTS public.idx_penawaran_details_penawaran_id;
DROP INDEX IF EXISTS public.idx_penawaran_details_kegiatan_item_id;
DROP INDEX IF EXISTS public.idx_penawaran_details_kegiatan_id;
DROP INDEX IF EXISTS public.idx_penawaran_details_item_catalog_id;
DROP INDEX IF EXISTS public.idx_penawaran_date_status;
DROP INDEX IF EXISTS public.idx_penawaran_date;
DROP INDEX IF EXISTS public.idx_penawaran_customer_id;
DROP INDEX IF EXISTS public.idx_penawaran_created_at;
DROP INDEX IF EXISTS public.idx_payments_status;
DROP INDEX IF EXISTS public.idx_payments_rekap_composite;
DROP INDEX IF EXISTS public.idx_payments_number;
DROP INDEX IF EXISTS public.idx_payments_date_status_method;
DROP INDEX IF EXISTS public.idx_payments_date;
DROP INDEX IF EXISTS public.idx_payments_customer_id;
DROP INDEX IF EXISTS public.idx_payments_created_at;
DROP INDEX IF EXISTS public.idx_kegiatan_status;
DROP INDEX IF EXISTS public.idx_kegiatan_rekap_composite;
DROP INDEX IF EXISTS public.idx_kegiatan_items_sort_order;
DROP INDEX IF EXISTS public.idx_kegiatan_items_kegiatan_id;
DROP INDEX IF EXISTS public.idx_kegiatan_items_catalog_id;
DROP INDEX IF EXISTS public.idx_kegiatan_customer_id;
DROP INDEX IF EXISTS public.idx_kegiatan_created_at;
DROP INDEX IF EXISTS public.idx_kegiatan_code;
DROP INDEX IF EXISTS public.idx_item_catalog_name;
DROP INDEX IF EXISTS public.idx_item_catalog_is_active;
DROP INDEX IF EXISTS public.idx_item_catalog_code;
DROP INDEX IF EXISTS public.idx_item_catalog_category;
DROP INDEX IF EXISTS public.idx_invoices_status;
DROP INDEX IF EXISTS public.idx_invoices_source_penawaran_id;
DROP INDEX IF EXISTS public.idx_invoices_rekap_composite;
DROP INDEX IF EXISTS public.idx_invoices_payment_status;
DROP INDEX IF EXISTS public.idx_invoices_number;
DROP INDEX IF EXISTS public.idx_invoices_date_status;
DROP INDEX IF EXISTS public.idx_invoices_date;
DROP INDEX IF EXISTS public.idx_invoices_customer_id;
DROP INDEX IF EXISTS public.idx_invoices_created_at;
DROP INDEX IF EXISTS public.idx_invoices_aging_composite;
DROP INDEX IF EXISTS public.idx_invoice_details_sph_kegiatan_id;
DROP INDEX IF EXISTS public.idx_invoice_details_source_penawaran_detail_id;
DROP INDEX IF EXISTS public.idx_invoice_details_source_kegiatan_id;
DROP INDEX IF EXISTS public.idx_invoice_details_sort_order;
DROP INDEX IF EXISTS public.idx_invoice_details_invoice_id;
DROP INDEX IF EXISTS public.idx_deposit_tx_type;
DROP INDEX IF EXISTS public.idx_deposit_tx_reference;
DROP INDEX IF EXISTS public.idx_deposit_tx_customer_id;
DROP INDEX IF EXISTS public.idx_deposit_tx_created_at;
DROP INDEX IF EXISTS public.idx_customers_name;
DROP INDEX IF EXISTS public.idx_customers_code;
DROP INDEX IF EXISTS public.idx_audit_logs_entity;
DROP INDEX IF EXISTS public.idx_audit_logs_created_at;
DROP INDEX IF EXISTS public.idx_audit_logs_actor;
DROP INDEX IF EXISTS public.idx_audit_logs_action;
DROP INDEX IF EXISTS public.idx_attachments_reference;
DROP INDEX IF EXISTS public.idx_attachments_created_at;
DROP INDEX IF EXISTS public.idx_allocations_payment_id;
DROP INDEX IF EXISTS public.idx_allocations_invoice_id;
DROP INDEX IF EXISTS public.idx_allocations_inv_pay_composite;
DROP INDEX IF EXISTS public.flyway_schema_history_s_idx;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_username_key;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.sph_kegiatan DROP CONSTRAINT IF EXISTS sph_kegiatan_pkey;
ALTER TABLE IF EXISTS ONLY public.receipts DROP CONSTRAINT IF EXISTS receipts_pkey;
ALTER TABLE IF EXISTS ONLY public.receipts DROP CONSTRAINT IF EXISTS receipts_payment_id_key;
ALTER TABLE IF EXISTS ONLY public.receipts DROP CONSTRAINT IF EXISTS receipts_number_key;
ALTER TABLE IF EXISTS ONLY public.penawaran DROP CONSTRAINT IF EXISTS penawaran_pkey;
ALTER TABLE IF EXISTS ONLY public.penawaran DROP CONSTRAINT IF EXISTS penawaran_number_key;
ALTER TABLE IF EXISTS ONLY public.penawaran_details DROP CONSTRAINT IF EXISTS penawaran_details_pkey;
ALTER TABLE IF EXISTS ONLY public.payments DROP CONSTRAINT IF EXISTS payments_pkey;
ALTER TABLE IF EXISTS ONLY public.payments DROP CONSTRAINT IF EXISTS payments_number_key;
ALTER TABLE IF EXISTS ONLY public.payment_allocations DROP CONSTRAINT IF EXISTS payment_allocations_pkey;
ALTER TABLE IF EXISTS ONLY public.numbering_configurations DROP CONSTRAINT IF EXISTS numbering_configurations_pkey;
ALTER TABLE IF EXISTS ONLY public.numbering_configurations DROP CONSTRAINT IF EXISTS numbering_configurations_document_type_key;
ALTER TABLE IF EXISTS ONLY public.kegiatan DROP CONSTRAINT IF EXISTS kegiatan_pkey;
ALTER TABLE IF EXISTS ONLY public.kegiatan_items DROP CONSTRAINT IF EXISTS kegiatan_items_pkey;
ALTER TABLE IF EXISTS ONLY public.kegiatan DROP CONSTRAINT IF EXISTS kegiatan_code_key;
ALTER TABLE IF EXISTS ONLY public.item_catalog DROP CONSTRAINT IF EXISTS item_catalog_pkey;
ALTER TABLE IF EXISTS ONLY public.item_catalog DROP CONSTRAINT IF EXISTS item_catalog_code_key;
ALTER TABLE IF EXISTS ONLY public.invoices DROP CONSTRAINT IF EXISTS invoices_pkey;
ALTER TABLE IF EXISTS ONLY public.invoices DROP CONSTRAINT IF EXISTS invoices_number_key;
ALTER TABLE IF EXISTS ONLY public.invoice_details DROP CONSTRAINT IF EXISTS invoice_details_pkey;
ALTER TABLE IF EXISTS ONLY public.flyway_schema_history DROP CONSTRAINT IF EXISTS flyway_schema_history_pk;
ALTER TABLE IF EXISTS ONLY public.deposit_transactions DROP CONSTRAINT IF EXISTS deposit_transactions_pkey;
ALTER TABLE IF EXISTS ONLY public.customers DROP CONSTRAINT IF EXISTS customers_pkey;
ALTER TABLE IF EXISTS ONLY public.customers DROP CONSTRAINT IF EXISTS customers_code_key;
ALTER TABLE IF EXISTS ONLY public.audit_logs DROP CONSTRAINT IF EXISTS audit_logs_pkey;
ALTER TABLE IF EXISTS ONLY public.attachments DROP CONSTRAINT IF EXISTS attachments_pkey;
ALTER TABLE IF EXISTS public.users ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.sph_kegiatan ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.receipts ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.penawaran_details ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.penawaran ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.payments ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.payment_allocations ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.numbering_configurations ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.kegiatan_items ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.kegiatan ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.item_catalog ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.invoices ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.invoice_details ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.deposit_transactions ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.customers ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.audit_logs ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.attachments ALTER COLUMN id DROP DEFAULT;
DROP SEQUENCE IF EXISTS public.users_id_seq;
DROP TABLE IF EXISTS public.users;
DROP SEQUENCE IF EXISTS public.sph_kegiatan_id_seq;
DROP TABLE IF EXISTS public.sph_kegiatan;
DROP SEQUENCE IF EXISTS public.receipts_id_seq;
DROP TABLE IF EXISTS public.receipts;
DROP SEQUENCE IF EXISTS public.penawaran_id_seq;
DROP SEQUENCE IF EXISTS public.penawaran_details_id_seq;
DROP TABLE IF EXISTS public.penawaran_details;
DROP TABLE IF EXISTS public.penawaran;
DROP SEQUENCE IF EXISTS public.payments_id_seq;
DROP TABLE IF EXISTS public.payments;
DROP SEQUENCE IF EXISTS public.payment_allocations_id_seq;
DROP TABLE IF EXISTS public.payment_allocations;
DROP SEQUENCE IF EXISTS public.numbering_configurations_id_seq;
DROP TABLE IF EXISTS public.numbering_configurations;
DROP SEQUENCE IF EXISTS public.kegiatan_items_id_seq;
DROP TABLE IF EXISTS public.kegiatan_items;
DROP SEQUENCE IF EXISTS public.kegiatan_id_seq;
DROP TABLE IF EXISTS public.kegiatan;
DROP SEQUENCE IF EXISTS public.item_catalog_id_seq;
DROP TABLE IF EXISTS public.item_catalog;
DROP SEQUENCE IF EXISTS public.invoices_id_seq;
DROP TABLE IF EXISTS public.invoices;
DROP SEQUENCE IF EXISTS public.invoice_details_id_seq;
DROP TABLE IF EXISTS public.invoice_details;
DROP TABLE IF EXISTS public.flyway_schema_history;
DROP SEQUENCE IF EXISTS public.deposit_transactions_id_seq;
DROP TABLE IF EXISTS public.deposit_transactions;
DROP SEQUENCE IF EXISTS public.customers_id_seq;
DROP TABLE IF EXISTS public.customers;
DROP SEQUENCE IF EXISTS public.audit_logs_id_seq;
DROP TABLE IF EXISTS public.audit_logs;
DROP SEQUENCE IF EXISTS public.attachments_id_seq;
DROP TABLE IF EXISTS public.attachments;
SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: attachments; Type: TABLE; Schema: public; Owner: andara_user
--

CREATE TABLE public.attachments (
    id bigint NOT NULL,
    reference_type character varying(50) NOT NULL,
    reference_id bigint NOT NULL,
    original_filename character varying(255) NOT NULL,
    object_key character varying(500) NOT NULL,
    content_type character varying(100) NOT NULL,
    size_bytes bigint NOT NULL,
    checksum character varying(64),
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by character varying(50)
);


ALTER TABLE public.attachments OWNER TO andara_user;

--
-- Name: attachments_id_seq; Type: SEQUENCE; Schema: public; Owner: andara_user
--

CREATE SEQUENCE public.attachments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.attachments_id_seq OWNER TO andara_user;

--
-- Name: attachments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: andara_user
--

ALTER SEQUENCE public.attachments_id_seq OWNED BY public.attachments.id;


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: andara_user
--

CREATE TABLE public.audit_logs (
    id bigint NOT NULL,
    action character varying(50) NOT NULL,
    entity_type character varying(50) NOT NULL,
    entity_id character varying(50),
    username character varying(50),
    details jsonb,
    ip_address character varying(50),
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    actor_user_id bigint,
    before_data text,
    after_data text,
    request_id character varying(100)
);


ALTER TABLE public.audit_logs OWNER TO andara_user;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: andara_user
--

CREATE SEQUENCE public.audit_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_logs_id_seq OWNER TO andara_user;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: andara_user
--

ALTER SEQUENCE public.audit_logs_id_seq OWNED BY public.audit_logs.id;


--
-- Name: customers; Type: TABLE; Schema: public; Owner: andara_user
--

CREATE TABLE public.customers (
    id bigint NOT NULL,
    code character varying(50) NOT NULL,
    name character varying(150) NOT NULL,
    company_name character varying(150),
    address text,
    phone character varying(50),
    email character varying(100),
    deposit_balance numeric(15,2) DEFAULT 0.00 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by character varying(50),
    updated_by character varying(50),
    pic_name character varying(100),
    notes text,
    CONSTRAINT customers_deposit_balance_check CHECK ((deposit_balance >= (0)::numeric))
);


ALTER TABLE public.customers OWNER TO andara_user;

--
-- Name: customers_id_seq; Type: SEQUENCE; Schema: public; Owner: andara_user
--

CREATE SEQUENCE public.customers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.customers_id_seq OWNER TO andara_user;

--
-- Name: customers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: andara_user
--

ALTER SEQUENCE public.customers_id_seq OWNED BY public.customers.id;


--
-- Name: deposit_transactions; Type: TABLE; Schema: public; Owner: andara_user
--

CREATE TABLE public.deposit_transactions (
    id bigint NOT NULL,
    customer_id bigint NOT NULL,
    type character varying(50) NOT NULL,
    amount numeric(15,2) NOT NULL,
    balance_after numeric(15,2) DEFAULT 0.00 NOT NULL,
    reference_type character varying(50),
    reference_id bigint,
    notes text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by character varying(50),
    CONSTRAINT deposit_transactions_amount_check CHECK ((amount > (0)::numeric)),
    CONSTRAINT deposit_transactions_balance_after_check CHECK ((balance_after >= (0)::numeric)),
    CONSTRAINT deposit_transactions_type_check CHECK (((type)::text = ANY ((ARRAY['DEPOSIT_IN'::character varying, 'DEPOSIT_USED'::character varying, 'DEPOSIT_REFUND'::character varying, 'DEPOSIT_ADJUSTMENT'::character varying])::text[])))
);


ALTER TABLE public.deposit_transactions OWNER TO andara_user;

--
-- Name: deposit_transactions_id_seq; Type: SEQUENCE; Schema: public; Owner: andara_user
--

CREATE SEQUENCE public.deposit_transactions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.deposit_transactions_id_seq OWNER TO andara_user;

--
-- Name: deposit_transactions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: andara_user
--

ALTER SEQUENCE public.deposit_transactions_id_seq OWNED BY public.deposit_transactions.id;


--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: andara_user
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO andara_user;

--
-- Name: invoice_details; Type: TABLE; Schema: public; Owner: andara_user
--

CREATE TABLE public.invoice_details (
    id bigint NOT NULL,
    invoice_id bigint NOT NULL,
    source_penawaran_detail_id bigint,
    source_kegiatan_id bigint,
    source_kegiatan_item_id bigint,
    description character varying(500) NOT NULL,
    quantity numeric(12,2) NOT NULL,
    unit character varying(50) NOT NULL,
    unit_price numeric(15,2) NOT NULL,
    amount numeric(15,2) NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    notes text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    sph_kegiatan_id bigint,
    CONSTRAINT invoice_details_amount_check CHECK ((amount >= (0)::numeric)),
    CONSTRAINT invoice_details_quantity_check CHECK ((quantity > (0)::numeric)),
    CONSTRAINT invoice_details_unit_price_check CHECK ((unit_price >= (0)::numeric))
);


ALTER TABLE public.invoice_details OWNER TO andara_user;

--
-- Name: invoice_details_id_seq; Type: SEQUENCE; Schema: public; Owner: andara_user
--

CREATE SEQUENCE public.invoice_details_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.invoice_details_id_seq OWNER TO andara_user;

--
-- Name: invoice_details_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: andara_user
--

ALTER SEQUENCE public.invoice_details_id_seq OWNED BY public.invoice_details.id;


--
-- Name: invoices; Type: TABLE; Schema: public; Owner: andara_user
--

CREATE TABLE public.invoices (
    id bigint NOT NULL,
    number character varying(50) NOT NULL,
    customer_id bigint NOT NULL,
    source_penawaran_id bigint,
    date date NOT NULL,
    due_date date,
    status character varying(50) DEFAULT 'DRAFT'::character varying NOT NULL,
    payment_status character varying(50) DEFAULT 'UNPAID'::character varying NOT NULL,
    total_amount numeric(15,2) DEFAULT 0.00 NOT NULL,
    paid_amount numeric(15,2) DEFAULT 0.00 NOT NULL,
    notes text,
    terms text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by character varying(50),
    updated_by character varying(50),
    work_location character varying(255),
    CONSTRAINT invoices_paid_amount_check CHECK ((paid_amount >= (0)::numeric)),
    CONSTRAINT invoices_payment_status_check CHECK (((payment_status)::text = ANY ((ARRAY['UNPAID'::character varying, 'PARTIAL'::character varying, 'PAID'::character varying])::text[]))),
    CONSTRAINT invoices_status_check CHECK (((status)::text = ANY ((ARRAY['DRAFT'::character varying, 'ISSUED'::character varying, 'CANCELLED'::character varying])::text[]))),
    CONSTRAINT invoices_total_amount_check CHECK ((total_amount >= (0)::numeric))
);


ALTER TABLE public.invoices OWNER TO andara_user;

--
-- Name: invoices_id_seq; Type: SEQUENCE; Schema: public; Owner: andara_user
--

CREATE SEQUENCE public.invoices_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.invoices_id_seq OWNER TO andara_user;

--
-- Name: invoices_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: andara_user
--

ALTER SEQUENCE public.invoices_id_seq OWNED BY public.invoices.id;


--
-- Name: item_catalog; Type: TABLE; Schema: public; Owner: andara_user
--

CREATE TABLE public.item_catalog (
    id bigint NOT NULL,
    code character varying(50),
    name character varying(500) NOT NULL,
    default_unit character varying(50) NOT NULL,
    default_price numeric(15,2) DEFAULT 0.00 NOT NULL,
    category character varying(100),
    description text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by character varying(50),
    updated_by character varying(50),
    CONSTRAINT item_catalog_default_price_check CHECK ((default_price >= (0)::numeric))
);


ALTER TABLE public.item_catalog OWNER TO andara_user;

--
-- Name: item_catalog_id_seq; Type: SEQUENCE; Schema: public; Owner: andara_user
--

CREATE SEQUENCE public.item_catalog_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.item_catalog_id_seq OWNER TO andara_user;

--
-- Name: item_catalog_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: andara_user
--

ALTER SEQUENCE public.item_catalog_id_seq OWNED BY public.item_catalog.id;


--
-- Name: kegiatan; Type: TABLE; Schema: public; Owner: andara_user
--

CREATE TABLE public.kegiatan (
    id bigint NOT NULL,
    customer_id bigint NOT NULL,
    code character varying(50) NOT NULL,
    name character varying(255) NOT NULL,
    location character varying(255),
    description text,
    notes text,
    status character varying(50) DEFAULT 'ACTIVE'::character varying NOT NULL,
    total_amount numeric(15,2) DEFAULT 0.00 NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by character varying(50),
    updated_by character varying(50),
    CONSTRAINT kegiatan_total_amount_check CHECK ((total_amount >= (0)::numeric))
);


ALTER TABLE public.kegiatan OWNER TO andara_user;

--
-- Name: kegiatan_id_seq; Type: SEQUENCE; Schema: public; Owner: andara_user
--

CREATE SEQUENCE public.kegiatan_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.kegiatan_id_seq OWNER TO andara_user;

--
-- Name: kegiatan_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: andara_user
--

ALTER SEQUENCE public.kegiatan_id_seq OWNED BY public.kegiatan.id;


--
-- Name: kegiatan_items; Type: TABLE; Schema: public; Owner: andara_user
--

CREATE TABLE public.kegiatan_items (
    id bigint NOT NULL,
    kegiatan_id bigint NOT NULL,
    description character varying(500) NOT NULL,
    volume numeric(12,2) NOT NULL,
    unit character varying(50) NOT NULL,
    unit_price numeric(15,2) NOT NULL,
    subtotal numeric(15,2) NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    notes text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by character varying(50),
    updated_by character varying(50),
    item_catalog_id bigint,
    CONSTRAINT kegiatan_items_subtotal_check CHECK ((subtotal >= (0)::numeric)),
    CONSTRAINT kegiatan_items_unit_price_check CHECK ((unit_price >= (0)::numeric)),
    CONSTRAINT kegiatan_items_volume_check CHECK ((volume > (0)::numeric))
);


ALTER TABLE public.kegiatan_items OWNER TO andara_user;

--
-- Name: kegiatan_items_id_seq; Type: SEQUENCE; Schema: public; Owner: andara_user
--

CREATE SEQUENCE public.kegiatan_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.kegiatan_items_id_seq OWNER TO andara_user;

--
-- Name: kegiatan_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: andara_user
--

ALTER SEQUENCE public.kegiatan_items_id_seq OWNED BY public.kegiatan_items.id;


--
-- Name: numbering_configurations; Type: TABLE; Schema: public; Owner: andara_user
--

CREATE TABLE public.numbering_configurations (
    id bigint NOT NULL,
    document_type character varying(50) NOT NULL,
    prefix character varying(20) NOT NULL,
    suffix character varying(20) DEFAULT ''::character varying,
    counter_digits integer DEFAULT 4 NOT NULL,
    reset_period character varying(20) DEFAULT 'MONTHLY'::character varying NOT NULL,
    current_counter integer DEFAULT 0 NOT NULL,
    current_period character varying(20) DEFAULT ''::character varying NOT NULL,
    format_pattern character varying(100) NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT numbering_configurations_reset_period_check CHECK (((reset_period)::text = ANY ((ARRAY['NEVER'::character varying, 'YEARLY'::character varying, 'MONTHLY'::character varying])::text[])))
);


ALTER TABLE public.numbering_configurations OWNER TO andara_user;

--
-- Name: numbering_configurations_id_seq; Type: SEQUENCE; Schema: public; Owner: andara_user
--

CREATE SEQUENCE public.numbering_configurations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.numbering_configurations_id_seq OWNER TO andara_user;

--
-- Name: numbering_configurations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: andara_user
--

ALTER SEQUENCE public.numbering_configurations_id_seq OWNED BY public.numbering_configurations.id;


--
-- Name: payment_allocations; Type: TABLE; Schema: public; Owner: andara_user
--

CREATE TABLE public.payment_allocations (
    id bigint NOT NULL,
    payment_id bigint NOT NULL,
    invoice_id bigint NOT NULL,
    amount numeric(15,2) NOT NULL,
    notes text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by character varying(50),
    CONSTRAINT payment_allocations_amount_check CHECK ((amount > (0)::numeric))
);


ALTER TABLE public.payment_allocations OWNER TO andara_user;

--
-- Name: payment_allocations_id_seq; Type: SEQUENCE; Schema: public; Owner: andara_user
--

CREATE SEQUENCE public.payment_allocations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payment_allocations_id_seq OWNER TO andara_user;

--
-- Name: payment_allocations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: andara_user
--

ALTER SEQUENCE public.payment_allocations_id_seq OWNED BY public.payment_allocations.id;


--
-- Name: payments; Type: TABLE; Schema: public; Owner: andara_user
--

CREATE TABLE public.payments (
    id bigint NOT NULL,
    number character varying(50) NOT NULL,
    customer_id bigint NOT NULL,
    date date NOT NULL,
    amount numeric(15,2) NOT NULL,
    payment_method character varying(50) DEFAULT 'BANK_TRANSFER'::character varying NOT NULL,
    destination_account character varying(100),
    reference character varying(100),
    notes text,
    status character varying(50) DEFAULT 'CONFIRMED'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by character varying(50),
    updated_by character varying(50),
    CONSTRAINT payments_amount_check CHECK ((amount > (0)::numeric)),
    CONSTRAINT payments_status_check CHECK (((status)::text = ANY ((ARRAY['CONFIRMED'::character varying, 'CANCELLED'::character varying])::text[])))
);


ALTER TABLE public.payments OWNER TO andara_user;

--
-- Name: payments_id_seq; Type: SEQUENCE; Schema: public; Owner: andara_user
--

CREATE SEQUENCE public.payments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payments_id_seq OWNER TO andara_user;

--
-- Name: payments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: andara_user
--

ALTER SEQUENCE public.payments_id_seq OWNED BY public.payments.id;


--
-- Name: penawaran; Type: TABLE; Schema: public; Owner: andara_user
--

CREATE TABLE public.penawaran (
    id bigint NOT NULL,
    number character varying(50) NOT NULL,
    customer_id bigint NOT NULL,
    date date NOT NULL,
    status character varying(50) DEFAULT 'DRAFT'::character varying NOT NULL,
    notes text,
    terms text,
    total_amount numeric(15,2) DEFAULT 0.00 NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by character varying(50),
    updated_by character varying(50),
    CONSTRAINT penawaran_status_check CHECK (((status)::text = ANY ((ARRAY['DRAFT'::character varying, 'SENT'::character varying, 'APPROVED'::character varying, 'REJECTED'::character varying, 'CANCELLED'::character varying])::text[]))),
    CONSTRAINT penawaran_total_amount_check CHECK ((total_amount >= (0)::numeric))
);


ALTER TABLE public.penawaran OWNER TO andara_user;

--
-- Name: penawaran_details; Type: TABLE; Schema: public; Owner: andara_user
--

CREATE TABLE public.penawaran_details (
    id bigint NOT NULL,
    penawaran_id bigint NOT NULL,
    kegiatan_id bigint,
    kegiatan_item_id bigint,
    description character varying(500) NOT NULL,
    volume numeric(12,2) NOT NULL,
    unit character varying(50) NOT NULL,
    unit_price numeric(15,2) NOT NULL,
    amount numeric(15,2) NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    notes text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    sph_kegiatan_id bigint,
    item_catalog_id bigint,
    CONSTRAINT penawaran_details_amount_check CHECK ((amount >= (0)::numeric)),
    CONSTRAINT penawaran_details_unit_price_check CHECK ((unit_price >= (0)::numeric)),
    CONSTRAINT penawaran_details_volume_check CHECK ((volume > (0)::numeric))
);


ALTER TABLE public.penawaran_details OWNER TO andara_user;

--
-- Name: penawaran_details_id_seq; Type: SEQUENCE; Schema: public; Owner: andara_user
--

CREATE SEQUENCE public.penawaran_details_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.penawaran_details_id_seq OWNER TO andara_user;

--
-- Name: penawaran_details_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: andara_user
--

ALTER SEQUENCE public.penawaran_details_id_seq OWNED BY public.penawaran_details.id;


--
-- Name: penawaran_id_seq; Type: SEQUENCE; Schema: public; Owner: andara_user
--

CREATE SEQUENCE public.penawaran_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.penawaran_id_seq OWNER TO andara_user;

--
-- Name: penawaran_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: andara_user
--

ALTER SEQUENCE public.penawaran_id_seq OWNED BY public.penawaran.id;


--
-- Name: receipts; Type: TABLE; Schema: public; Owner: andara_user
--

CREATE TABLE public.receipts (
    id bigint NOT NULL,
    number character varying(50) NOT NULL,
    payment_id bigint NOT NULL,
    date date NOT NULL,
    received_from character varying(150) NOT NULL,
    amount numeric(15,2) NOT NULL,
    spelled_out text NOT NULL,
    description text,
    payment_method character varying(50) DEFAULT 'BANK_TRANSFER'::character varying NOT NULL,
    notes text,
    status character varying(50) DEFAULT 'VALID'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by character varying(50),
    CONSTRAINT receipts_amount_check CHECK ((amount > (0)::numeric)),
    CONSTRAINT receipts_status_check CHECK (((status)::text = ANY ((ARRAY['VALID'::character varying, 'CANCELLED'::character varying])::text[])))
);


ALTER TABLE public.receipts OWNER TO andara_user;

--
-- Name: receipts_id_seq; Type: SEQUENCE; Schema: public; Owner: andara_user
--

CREATE SEQUENCE public.receipts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.receipts_id_seq OWNER TO andara_user;

--
-- Name: receipts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: andara_user
--

ALTER SEQUENCE public.receipts_id_seq OWNED BY public.receipts.id;


--
-- Name: sph_kegiatan; Type: TABLE; Schema: public; Owner: andara_user
--

CREATE TABLE public.sph_kegiatan (
    id bigint NOT NULL,
    penawaran_id bigint NOT NULL,
    name character varying(500) NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    subtotal numeric(15,2) DEFAULT 0.00 NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT sph_kegiatan_subtotal_check CHECK ((subtotal >= (0)::numeric))
);


ALTER TABLE public.sph_kegiatan OWNER TO andara_user;

--
-- Name: sph_kegiatan_id_seq; Type: SEQUENCE; Schema: public; Owner: andara_user
--

CREATE SEQUENCE public.sph_kegiatan_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sph_kegiatan_id_seq OWNER TO andara_user;

--
-- Name: sph_kegiatan_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: andara_user
--

ALTER SEQUENCE public.sph_kegiatan_id_seq OWNED BY public.sph_kegiatan.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: andara_user
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    username character varying(50) NOT NULL,
    password_hash character varying(255) NOT NULL,
    full_name character varying(100) NOT NULL,
    role character varying(20) NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['OPERATOR'::character varying, 'ADMIN'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO andara_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: andara_user
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO andara_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: andara_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: attachments id; Type: DEFAULT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.attachments ALTER COLUMN id SET DEFAULT nextval('public.attachments_id_seq'::regclass);


--
-- Name: audit_logs id; Type: DEFAULT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.audit_logs ALTER COLUMN id SET DEFAULT nextval('public.audit_logs_id_seq'::regclass);


--
-- Name: customers id; Type: DEFAULT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.customers ALTER COLUMN id SET DEFAULT nextval('public.customers_id_seq'::regclass);


--
-- Name: deposit_transactions id; Type: DEFAULT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.deposit_transactions ALTER COLUMN id SET DEFAULT nextval('public.deposit_transactions_id_seq'::regclass);


--
-- Name: invoice_details id; Type: DEFAULT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.invoice_details ALTER COLUMN id SET DEFAULT nextval('public.invoice_details_id_seq'::regclass);


--
-- Name: invoices id; Type: DEFAULT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.invoices ALTER COLUMN id SET DEFAULT nextval('public.invoices_id_seq'::regclass);


--
-- Name: item_catalog id; Type: DEFAULT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.item_catalog ALTER COLUMN id SET DEFAULT nextval('public.item_catalog_id_seq'::regclass);


--
-- Name: kegiatan id; Type: DEFAULT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.kegiatan ALTER COLUMN id SET DEFAULT nextval('public.kegiatan_id_seq'::regclass);


--
-- Name: kegiatan_items id; Type: DEFAULT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.kegiatan_items ALTER COLUMN id SET DEFAULT nextval('public.kegiatan_items_id_seq'::regclass);


--
-- Name: numbering_configurations id; Type: DEFAULT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.numbering_configurations ALTER COLUMN id SET DEFAULT nextval('public.numbering_configurations_id_seq'::regclass);


--
-- Name: payment_allocations id; Type: DEFAULT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.payment_allocations ALTER COLUMN id SET DEFAULT nextval('public.payment_allocations_id_seq'::regclass);


--
-- Name: payments id; Type: DEFAULT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.payments ALTER COLUMN id SET DEFAULT nextval('public.payments_id_seq'::regclass);


--
-- Name: penawaran id; Type: DEFAULT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.penawaran ALTER COLUMN id SET DEFAULT nextval('public.penawaran_id_seq'::regclass);


--
-- Name: penawaran_details id; Type: DEFAULT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.penawaran_details ALTER COLUMN id SET DEFAULT nextval('public.penawaran_details_id_seq'::regclass);


--
-- Name: receipts id; Type: DEFAULT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.receipts ALTER COLUMN id SET DEFAULT nextval('public.receipts_id_seq'::regclass);


--
-- Name: sph_kegiatan id; Type: DEFAULT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.sph_kegiatan ALTER COLUMN id SET DEFAULT nextval('public.sph_kegiatan_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: attachments; Type: TABLE DATA; Schema: public; Owner: andara_user
--



--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: andara_user
--



--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: andara_user
--



--
-- Data for Name: deposit_transactions; Type: TABLE DATA; Schema: public; Owner: andara_user
--

COPY public.deposit_transactions (id, customer_id, type, amount, balance_after, reference_type, reference_id, notes, created_at, created_by) FROM stdin;
51	3	DEPOSIT_IN	3000000.00	3000000.00	PAYMENT	119	Kelebihan pembayaran dari transaksi PAY-AND/2026/10/0020	2026-10-04 19:24:47.285807+00	operator
\.


--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: andara_user
--



--
-- Data for Name: invoice_details; Type: TABLE DATA; Schema: public; Owner: andara_user
--



--
-- Data for Name: invoices; Type: TABLE DATA; Schema: public; Owner: andara_user
--



--
-- Data for Name: item_catalog; Type: TABLE DATA; Schema: public; Owner: andara_user
--



--
-- Data for Name: kegiatan; Type: TABLE DATA; Schema: public; Owner: andara_user
--



--
-- Data for Name: kegiatan_items; Type: TABLE DATA; Schema: public; Owner: andara_user
--



--
-- Data for Name: numbering_configurations; Type: TABLE DATA; Schema: public; Owner: andara_user
--



--
-- Data for Name: payment_allocations; Type: TABLE DATA; Schema: public; Owner: andara_user
--



--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: andara_user
--



--
-- Data for Name: penawaran; Type: TABLE DATA; Schema: public; Owner: andara_user
--



--
-- Data for Name: penawaran_details; Type: TABLE DATA; Schema: public; Owner: andara_user
--



--
-- Data for Name: receipts; Type: TABLE DATA; Schema: public; Owner: andara_user
--

COPY public.receipts (id, number, payment_id, date, received_from, amount, spelled_out, description, payment_method, notes, status, created_at, created_by) FROM stdin;
1	REC-AND/2026/09/0001	1	2026-09-22	PT. Mahakarya Citra Sejahtera	20000000.00	Dua Puluh Juta Rupiah	Pembayaran Termin I Renovasi Kantor Lt. 12 (Invoice INV-AND/2026/09/0001)	BANK_TRANSFER	Kwitansi resmi pembayaran termin 1	VALID	2026-09-24 18:18:30.156126+00	operator
\.


--
-- Data for Name: sph_kegiatan; Type: TABLE DATA; Schema: public; Owner: andara_user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: andara_user
--

COPY public.users (id, username, password_hash, full_name, role, is_active, created_at, updated_at) FROM stdin;
1	operator	$2a$10$XkPzecG3ayEwPC2CRgKFeu6jlB6aZPDiv/X.//DjjAM88Q9TonCJO	Staff Operator Keuangan	OPERATOR	t	2026-09-24 09:24:32.390064+00	2026-09-24 09:24:32.390064+00
2	admin	$2a$10$CCRBhUndvRcUXWyTmY64qexB3MG/XlRqSmF1Ikuv5oIbPjJUvGJ86	Administrator Operasional	ADMIN	t	2026-09-24 09:24:32.390064+00	2026-09-24 09:24:32.390064+00
\.


--
-- Name: attachments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: andara_user
--

SELECT pg_catalog.setval('public.attachments_id_seq', 34, true);


--
-- Name: audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: andara_user
--

SELECT pg_catalog.setval('public.audit_logs_id_seq', 122, true);


--
-- Name: customers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: andara_user
--

SELECT pg_catalog.setval('public.customers_id_seq', 29, true);


--
-- Name: deposit_transactions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: andara_user
--

SELECT pg_catalog.setval('public.deposit_transactions_id_seq', 51, true);


--
-- Name: invoice_details_id_seq; Type: SEQUENCE SET; Schema: public; Owner: andara_user
--

SELECT pg_catalog.setval('public.invoice_details_id_seq', 198, true);


--
-- Name: invoices_id_seq; Type: SEQUENCE SET; Schema: public; Owner: andara_user
--

SELECT pg_catalog.setval('public.invoices_id_seq', 160, true);


--
-- Name: item_catalog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: andara_user
--

SELECT pg_catalog.setval('public.item_catalog_id_seq', 10, true);


--
-- Name: kegiatan_id_seq; Type: SEQUENCE SET; Schema: public; Owner: andara_user
--

SELECT pg_catalog.setval('public.kegiatan_id_seq', 27, true);


--
-- Name: kegiatan_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: andara_user
--

SELECT pg_catalog.setval('public.kegiatan_items_id_seq', 59, true);


--
-- Name: numbering_configurations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: andara_user
--

SELECT pg_catalog.setval('public.numbering_configurations_id_seq', 4, true);


--
-- Name: payment_allocations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: andara_user
--

SELECT pg_catalog.setval('public.payment_allocations_id_seq', 37, true);


--
-- Name: payments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: andara_user
--

SELECT pg_catalog.setval('public.payments_id_seq', 122, true);


--
-- Name: penawaran_details_id_seq; Type: SEQUENCE SET; Schema: public; Owner: andara_user
--

SELECT pg_catalog.setval('public.penawaran_details_id_seq', 101, true);


--
-- Name: penawaran_id_seq; Type: SEQUENCE SET; Schema: public; Owner: andara_user
--

SELECT pg_catalog.setval('public.penawaran_id_seq', 56, true);


--
-- Name: receipts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: andara_user
--

SELECT pg_catalog.setval('public.receipts_id_seq', 36, true);


--
-- Name: sph_kegiatan_id_seq; Type: SEQUENCE SET; Schema: public; Owner: andara_user
--

SELECT pg_catalog.setval('public.sph_kegiatan_id_seq', 59, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: andara_user
--

SELECT pg_catalog.setval('public.users_id_seq', 2, true);


--
-- Name: attachments attachments_pkey; Type: CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.attachments
    ADD CONSTRAINT attachments_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: customers customers_code_key; Type: CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_code_key UNIQUE (code);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (id);


--
-- Name: deposit_transactions deposit_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.deposit_transactions
    ADD CONSTRAINT deposit_transactions_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: invoice_details invoice_details_pkey; Type: CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.invoice_details
    ADD CONSTRAINT invoice_details_pkey PRIMARY KEY (id);


--
-- Name: invoices invoices_number_key; Type: CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_number_key UNIQUE (number);


--
-- Name: invoices invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_pkey PRIMARY KEY (id);


--
-- Name: item_catalog item_catalog_code_key; Type: CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.item_catalog
    ADD CONSTRAINT item_catalog_code_key UNIQUE (code);


--
-- Name: item_catalog item_catalog_pkey; Type: CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.item_catalog
    ADD CONSTRAINT item_catalog_pkey PRIMARY KEY (id);


--
-- Name: kegiatan kegiatan_code_key; Type: CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.kegiatan
    ADD CONSTRAINT kegiatan_code_key UNIQUE (code);


--
-- Name: kegiatan_items kegiatan_items_pkey; Type: CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.kegiatan_items
    ADD CONSTRAINT kegiatan_items_pkey PRIMARY KEY (id);


--
-- Name: kegiatan kegiatan_pkey; Type: CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.kegiatan
    ADD CONSTRAINT kegiatan_pkey PRIMARY KEY (id);


--
-- Name: numbering_configurations numbering_configurations_document_type_key; Type: CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.numbering_configurations
    ADD CONSTRAINT numbering_configurations_document_type_key UNIQUE (document_type);


--
-- Name: numbering_configurations numbering_configurations_pkey; Type: CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.numbering_configurations
    ADD CONSTRAINT numbering_configurations_pkey PRIMARY KEY (id);


--
-- Name: payment_allocations payment_allocations_pkey; Type: CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.payment_allocations
    ADD CONSTRAINT payment_allocations_pkey PRIMARY KEY (id);


--
-- Name: payments payments_number_key; Type: CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_number_key UNIQUE (number);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: penawaran_details penawaran_details_pkey; Type: CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.penawaran_details
    ADD CONSTRAINT penawaran_details_pkey PRIMARY KEY (id);


--
-- Name: penawaran penawaran_number_key; Type: CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.penawaran
    ADD CONSTRAINT penawaran_number_key UNIQUE (number);


--
-- Name: penawaran penawaran_pkey; Type: CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.penawaran
    ADD CONSTRAINT penawaran_pkey PRIMARY KEY (id);


--
-- Name: receipts receipts_number_key; Type: CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.receipts
    ADD CONSTRAINT receipts_number_key UNIQUE (number);


--
-- Name: receipts receipts_payment_id_key; Type: CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.receipts
    ADD CONSTRAINT receipts_payment_id_key UNIQUE (payment_id);


--
-- Name: receipts receipts_pkey; Type: CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.receipts
    ADD CONSTRAINT receipts_pkey PRIMARY KEY (id);


--
-- Name: sph_kegiatan sph_kegiatan_pkey; Type: CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.sph_kegiatan
    ADD CONSTRAINT sph_kegiatan_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: idx_allocations_inv_pay_composite; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_allocations_inv_pay_composite ON public.payment_allocations USING btree (invoice_id, payment_id);


--
-- Name: idx_allocations_invoice_id; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_allocations_invoice_id ON public.payment_allocations USING btree (invoice_id);


--
-- Name: idx_allocations_payment_id; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_allocations_payment_id ON public.payment_allocations USING btree (payment_id);


--
-- Name: idx_attachments_created_at; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_attachments_created_at ON public.attachments USING btree (created_at);


--
-- Name: idx_attachments_reference; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_attachments_reference ON public.attachments USING btree (reference_type, reference_id);


--
-- Name: idx_audit_logs_action; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_audit_logs_action ON public.audit_logs USING btree (action);


--
-- Name: idx_audit_logs_actor; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_audit_logs_actor ON public.audit_logs USING btree (actor_user_id);


--
-- Name: idx_audit_logs_created_at; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_audit_logs_created_at ON public.audit_logs USING btree (created_at);


--
-- Name: idx_audit_logs_entity; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_audit_logs_entity ON public.audit_logs USING btree (entity_type, entity_id);


--
-- Name: idx_customers_code; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_customers_code ON public.customers USING btree (code);


--
-- Name: idx_customers_name; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_customers_name ON public.customers USING btree (name);


--
-- Name: idx_deposit_tx_created_at; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_deposit_tx_created_at ON public.deposit_transactions USING btree (created_at);


--
-- Name: idx_deposit_tx_customer_id; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_deposit_tx_customer_id ON public.deposit_transactions USING btree (customer_id);


--
-- Name: idx_deposit_tx_reference; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_deposit_tx_reference ON public.deposit_transactions USING btree (reference_type, reference_id);


--
-- Name: idx_deposit_tx_type; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_deposit_tx_type ON public.deposit_transactions USING btree (type);


--
-- Name: idx_invoice_details_invoice_id; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_invoice_details_invoice_id ON public.invoice_details USING btree (invoice_id);


--
-- Name: idx_invoice_details_sort_order; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_invoice_details_sort_order ON public.invoice_details USING btree (invoice_id, sort_order);


--
-- Name: idx_invoice_details_source_kegiatan_id; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_invoice_details_source_kegiatan_id ON public.invoice_details USING btree (source_kegiatan_id);


--
-- Name: idx_invoice_details_source_penawaran_detail_id; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_invoice_details_source_penawaran_detail_id ON public.invoice_details USING btree (source_penawaran_detail_id);


--
-- Name: idx_invoice_details_sph_kegiatan_id; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_invoice_details_sph_kegiatan_id ON public.invoice_details USING btree (sph_kegiatan_id);


--
-- Name: idx_invoices_aging_composite; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_invoices_aging_composite ON public.invoices USING btree (status, payment_status, due_date);


--
-- Name: idx_invoices_created_at; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_invoices_created_at ON public.invoices USING btree (created_at);


--
-- Name: idx_invoices_customer_id; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_invoices_customer_id ON public.invoices USING btree (customer_id);


--
-- Name: idx_invoices_date; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_invoices_date ON public.invoices USING btree (date);


--
-- Name: idx_invoices_date_status; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_invoices_date_status ON public.invoices USING btree (date, status);


--
-- Name: idx_invoices_number; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_invoices_number ON public.invoices USING btree (number);


--
-- Name: idx_invoices_payment_status; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_invoices_payment_status ON public.invoices USING btree (payment_status);


--
-- Name: idx_invoices_rekap_composite; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_invoices_rekap_composite ON public.invoices USING btree (customer_id, date, status, payment_status);


--
-- Name: idx_invoices_source_penawaran_id; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_invoices_source_penawaran_id ON public.invoices USING btree (source_penawaran_id);


--
-- Name: idx_invoices_status; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_invoices_status ON public.invoices USING btree (status);


--
-- Name: idx_item_catalog_category; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_item_catalog_category ON public.item_catalog USING btree (category);


--
-- Name: idx_item_catalog_code; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_item_catalog_code ON public.item_catalog USING btree (code);


--
-- Name: idx_item_catalog_is_active; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_item_catalog_is_active ON public.item_catalog USING btree (is_active);


--
-- Name: idx_item_catalog_name; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_item_catalog_name ON public.item_catalog USING btree (name);


--
-- Name: idx_kegiatan_code; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_kegiatan_code ON public.kegiatan USING btree (code);


--
-- Name: idx_kegiatan_created_at; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_kegiatan_created_at ON public.kegiatan USING btree (created_at);


--
-- Name: idx_kegiatan_customer_id; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_kegiatan_customer_id ON public.kegiatan USING btree (customer_id);


--
-- Name: idx_kegiatan_items_catalog_id; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_kegiatan_items_catalog_id ON public.kegiatan_items USING btree (item_catalog_id);


--
-- Name: idx_kegiatan_items_kegiatan_id; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_kegiatan_items_kegiatan_id ON public.kegiatan_items USING btree (kegiatan_id);


--
-- Name: idx_kegiatan_items_sort_order; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_kegiatan_items_sort_order ON public.kegiatan_items USING btree (kegiatan_id, sort_order);


--
-- Name: idx_kegiatan_rekap_composite; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_kegiatan_rekap_composite ON public.kegiatan USING btree (customer_id, created_at, status);


--
-- Name: idx_kegiatan_status; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_kegiatan_status ON public.kegiatan USING btree (status);


--
-- Name: idx_payments_created_at; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_payments_created_at ON public.payments USING btree (created_at);


--
-- Name: idx_payments_customer_id; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_payments_customer_id ON public.payments USING btree (customer_id);


--
-- Name: idx_payments_date; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_payments_date ON public.payments USING btree (date);


--
-- Name: idx_payments_date_status_method; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_payments_date_status_method ON public.payments USING btree (date, status, payment_method);


--
-- Name: idx_payments_number; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_payments_number ON public.payments USING btree (number);


--
-- Name: idx_payments_rekap_composite; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_payments_rekap_composite ON public.payments USING btree (customer_id, date, status);


--
-- Name: idx_payments_status; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_payments_status ON public.payments USING btree (status);


--
-- Name: idx_penawaran_created_at; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_penawaran_created_at ON public.penawaran USING btree (created_at);


--
-- Name: idx_penawaran_customer_id; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_penawaran_customer_id ON public.penawaran USING btree (customer_id);


--
-- Name: idx_penawaran_date; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_penawaran_date ON public.penawaran USING btree (date);


--
-- Name: idx_penawaran_date_status; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_penawaran_date_status ON public.penawaran USING btree (date, status);


--
-- Name: idx_penawaran_details_item_catalog_id; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_penawaran_details_item_catalog_id ON public.penawaran_details USING btree (item_catalog_id);


--
-- Name: idx_penawaran_details_kegiatan_id; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_penawaran_details_kegiatan_id ON public.penawaran_details USING btree (kegiatan_id);


--
-- Name: idx_penawaran_details_kegiatan_item_id; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_penawaran_details_kegiatan_item_id ON public.penawaran_details USING btree (kegiatan_item_id);


--
-- Name: idx_penawaran_details_penawaran_id; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_penawaran_details_penawaran_id ON public.penawaran_details USING btree (penawaran_id);


--
-- Name: idx_penawaran_details_sort_order; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_penawaran_details_sort_order ON public.penawaran_details USING btree (penawaran_id, sort_order);


--
-- Name: idx_penawaran_details_sph_kegiatan_id; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_penawaran_details_sph_kegiatan_id ON public.penawaran_details USING btree (sph_kegiatan_id);


--
-- Name: idx_penawaran_number; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_penawaran_number ON public.penawaran USING btree (number);


--
-- Name: idx_penawaran_rekap_composite; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_penawaran_rekap_composite ON public.penawaran USING btree (customer_id, date, status);


--
-- Name: idx_penawaran_status; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_penawaran_status ON public.penawaran USING btree (status);


--
-- Name: idx_receipts_created_at; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_receipts_created_at ON public.receipts USING btree (created_at);


--
-- Name: idx_receipts_date; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_receipts_date ON public.receipts USING btree (date);


--
-- Name: idx_receipts_number; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_receipts_number ON public.receipts USING btree (number);


--
-- Name: idx_receipts_payment_id; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_receipts_payment_id ON public.receipts USING btree (payment_id);


--
-- Name: idx_receipts_status; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_receipts_status ON public.receipts USING btree (status);


--
-- Name: idx_sph_kegiatan_penawaran_id; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_sph_kegiatan_penawaran_id ON public.sph_kegiatan USING btree (penawaran_id);


--
-- Name: idx_sph_kegiatan_sort_order; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_sph_kegiatan_sort_order ON public.sph_kegiatan USING btree (penawaran_id, sort_order);


--
-- Name: idx_users_username; Type: INDEX; Schema: public; Owner: andara_user
--

CREATE INDEX idx_users_username ON public.users USING btree (username);


--
-- Name: audit_logs audit_logs_actor_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_actor_user_id_fkey FOREIGN KEY (actor_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: deposit_transactions deposit_transactions_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.deposit_transactions
    ADD CONSTRAINT deposit_transactions_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE RESTRICT;


--
-- Name: invoice_details invoice_details_invoice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.invoice_details
    ADD CONSTRAINT invoice_details_invoice_id_fkey FOREIGN KEY (invoice_id) REFERENCES public.invoices(id) ON DELETE CASCADE;


--
-- Name: invoice_details invoice_details_source_kegiatan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.invoice_details
    ADD CONSTRAINT invoice_details_source_kegiatan_id_fkey FOREIGN KEY (source_kegiatan_id) REFERENCES public.kegiatan(id) ON DELETE SET NULL;


--
-- Name: invoice_details invoice_details_source_kegiatan_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.invoice_details
    ADD CONSTRAINT invoice_details_source_kegiatan_item_id_fkey FOREIGN KEY (source_kegiatan_item_id) REFERENCES public.kegiatan_items(id) ON DELETE SET NULL;


--
-- Name: invoice_details invoice_details_source_penawaran_detail_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.invoice_details
    ADD CONSTRAINT invoice_details_source_penawaran_detail_id_fkey FOREIGN KEY (source_penawaran_detail_id) REFERENCES public.penawaran_details(id) ON DELETE SET NULL;


--
-- Name: invoice_details invoice_details_sph_kegiatan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.invoice_details
    ADD CONSTRAINT invoice_details_sph_kegiatan_id_fkey FOREIGN KEY (sph_kegiatan_id) REFERENCES public.sph_kegiatan(id) ON DELETE SET NULL;


--
-- Name: invoices invoices_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE RESTRICT;


--
-- Name: invoices invoices_source_penawaran_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_source_penawaran_id_fkey FOREIGN KEY (source_penawaran_id) REFERENCES public.penawaran(id) ON DELETE SET NULL;


--
-- Name: kegiatan kegiatan_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.kegiatan
    ADD CONSTRAINT kegiatan_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE RESTRICT;


--
-- Name: kegiatan_items kegiatan_items_item_catalog_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.kegiatan_items
    ADD CONSTRAINT kegiatan_items_item_catalog_id_fkey FOREIGN KEY (item_catalog_id) REFERENCES public.item_catalog(id) ON DELETE SET NULL;


--
-- Name: kegiatan_items kegiatan_items_kegiatan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.kegiatan_items
    ADD CONSTRAINT kegiatan_items_kegiatan_id_fkey FOREIGN KEY (kegiatan_id) REFERENCES public.kegiatan(id) ON DELETE CASCADE;


--
-- Name: payment_allocations payment_allocations_invoice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.payment_allocations
    ADD CONSTRAINT payment_allocations_invoice_id_fkey FOREIGN KEY (invoice_id) REFERENCES public.invoices(id) ON DELETE RESTRICT;


--
-- Name: payment_allocations payment_allocations_payment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.payment_allocations
    ADD CONSTRAINT payment_allocations_payment_id_fkey FOREIGN KEY (payment_id) REFERENCES public.payments(id) ON DELETE CASCADE;


--
-- Name: payments payments_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE RESTRICT;


--
-- Name: penawaran penawaran_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.penawaran
    ADD CONSTRAINT penawaran_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE RESTRICT;


--
-- Name: penawaran_details penawaran_details_item_catalog_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.penawaran_details
    ADD CONSTRAINT penawaran_details_item_catalog_id_fkey FOREIGN KEY (item_catalog_id) REFERENCES public.item_catalog(id) ON DELETE SET NULL;


--
-- Name: penawaran_details penawaran_details_kegiatan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.penawaran_details
    ADD CONSTRAINT penawaran_details_kegiatan_id_fkey FOREIGN KEY (kegiatan_id) REFERENCES public.kegiatan(id) ON DELETE SET NULL;


--
-- Name: penawaran_details penawaran_details_kegiatan_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.penawaran_details
    ADD CONSTRAINT penawaran_details_kegiatan_item_id_fkey FOREIGN KEY (kegiatan_item_id) REFERENCES public.kegiatan_items(id) ON DELETE SET NULL;


--
-- Name: penawaran_details penawaran_details_penawaran_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.penawaran_details
    ADD CONSTRAINT penawaran_details_penawaran_id_fkey FOREIGN KEY (penawaran_id) REFERENCES public.penawaran(id) ON DELETE CASCADE;


--
-- Name: penawaran_details penawaran_details_sph_kegiatan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.penawaran_details
    ADD CONSTRAINT penawaran_details_sph_kegiatan_id_fkey FOREIGN KEY (sph_kegiatan_id) REFERENCES public.sph_kegiatan(id) ON DELETE CASCADE;


--
-- Name: receipts receipts_payment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.receipts
    ADD CONSTRAINT receipts_payment_id_fkey FOREIGN KEY (payment_id) REFERENCES public.payments(id) ON DELETE RESTRICT;


--
-- Name: sph_kegiatan sph_kegiatan_penawaran_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: andara_user
--

ALTER TABLE ONLY public.sph_kegiatan
    ADD CONSTRAINT sph_kegiatan_penawaran_id_fkey FOREIGN KEY (penawaran_id) REFERENCES public.penawaran(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict rwjnK95efwx4shy2M4eBxcbWlmdr67yjzGEVlXYvAfhFQhamICXuF8TlDAXoy2p

